*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#bg{
    height: 100%;
    width: 100%;
     background-image: url("https://images.unsplash.com/photo-1667156553651-d4a90fb3edf9?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-size: cover;
}
h1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    font-size: 120px;
    color: #fff;
    mix-blend-mode: difference;
}